{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "/movies/css/main.css" %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header><nav>
            <ul>
                <li><a href="{% url 'movie_list' %}">Movies</a></li>
                <li><a href="">Persons</a></li>
            </ul>
        </nav></header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>Copyright: @my super company</footer>
    </body>
</html>