{% extends "movies/layout.html" %}

{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}
<h2>{{movie.title}} ({{movie.year}})</h2>
{% if movie.posterUri is not None %}
    <img src="{{movie.posterUri}}" alt="poster movie {{movie.title}}">
{% else %}
    <img id="clap" src="{% static "movies/images/clap.png" %}" alt="no poster for movie {{movie.title}}">
{% endif %}
<ul>
    <li>director: {{movie.director.name|default:"unknown"}}</li>
    <li>duration: 
        {% if movie.duration is not None %} 
            {{movie.duration}} mn
        {% else %}
            unknown
        {% endif %}
    </li>
    <li>certification: {{movie.pg|default:"unknown"}}</li>
    <li>synopsis: {{movie.synopsis|default_if_none:"todo"|truncatechars:300}}</li>
</ul>
{% endblock %}